<%-include('partials/header')%>
  <body class="h-100vh">
    <header class="w-100">
      <div
        class="navbar w-100 sticky-top bg-dark border-bottom border-body"
        data-bs-theme="dark"
      >
        <h1 class="w-50 mx-auto text-center">
          <a class="text-decoration-none text-body-secondary" href="/"
            >Memento</a
          >
        </h1>
      </div>
    </header>
    <nav class="navbar navbar-expand bg-body-tertiary mb-4">
      <!-- Navbar content -->
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-disabled="true">Contact</a>
            </li>
          </ul>
          <form action="/register" method="get">
            <button class="btn btn-outline-dark" type="submit">
                Get Started
            </button>
          </form>
        </div>
      </div>
    </nav>
    <main class="mx-3">
        <section class="w-100 d-md-flex justify-content-between align-items-center">
            <div class="w-50">
                <h3><span class="text-primary">Celebrate</span> people who matters you</h3>
                <p>In a world where physical distances often separate us from our loved ones, birthday reminders bridge the gap. By prompting us to send a heartfelt message, make a phone call, or even plan a surprise, these reminders facilitate meaningful connections.</p>
            </div>
            <figure class="w-50">
                <img class="w-100 mx-auto" src="/memento.svg" alt="">
            </figure>
        </section>
        <section class="my-5 w-100 d-md-flex justify-content-between align-items-center flex-row-reverse">
            <div class="w-50">
                <h3 class="mb-3"><span class="text-primary">Embrace</span> the magic of birthday reminders</h3>
                <p>By embracing the magic of birthday reminders, we not only ensure that important moments are not overlooked but also actively contribute to a more connected and celebratory digital age.</p>
                <p><a class="text-primary text-decoration-none" href="/register">Join us</a> now!</p>
            </div>
            <div class="w-50">
                <figure>
                    <img src="../public/img/loveIt.png" alt="">
                </figure>
            </div>
        </section>
        
    </main>

<%-include('partials/footer')%>

