<%-include('partials/header')%>
  <body class="h-100vh">
    <header class="w-100">
      <div
        class="navbar w-100 sticky-top bg-dark border-bottom border-body"
        data-bs-theme="dark"
      >
        <h1 class="w-50 mx-auto text-center">
          <a class="text-decoration-none text-body-secondary" href="/"
            >Memento</a
          >
        </h1>
      </div>
    </header>
    <nav class="w-100vw navbar navbar-expand bg-body-tertiary">
      <!-- Navbar content -->
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-disabled="true">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <% if (err) {%>
    
        <div class="alert alert-dark alert-dismissible fade show position-absolute w-100 mb-3" role="alert">
            <%=err%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
    <main class="px-4 w-100 mb-5 mt-4">
        <div class="mb-5">
            <h2>Register a Recipient</h2>
        </div>
        <div class="w-50 mx-auto">
            <form class="p-4 border rounded-3" action="/send" method="post">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Userame</label
                  >
                  <input
                    type="text"
                    name="username"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Friendly Name"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Email address</label
                  >
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="name@example.com"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Date of Birth</label
                  >
                  <input
                    type="date"
                    name="dob"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="name@example.com"
                  />
                </div>
        
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
      
    </main>
    <%-include('partials/footer')%>
